<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="view_robot_pkg_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Upper_body_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Upper_body_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Lshoulder_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Lshoulder_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Lshoulder_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Lshoulder_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Lelbow_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Lelbow_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Rshoulder_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Rshoulder_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Rshoulder_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Rshoulder_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Relbow_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Relbow_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Right_gear_RG">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Right_gear_RG']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_gear_LG">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_gear_LG']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
