<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="NUBI_V5">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0011229 0.0156 0.038331"
        rpy="0 0 0" />
      <mass
        value="0.0040904" />
      <inertia
        ixx="4.9053E-07"
        ixy="6.0147E-10"
        ixz="2.3857E-10"
        iyy="1.1169E-06"
        iyz="-1.2816E-07"
        izz="1.0652E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="RPelvis">
    <inertial>
      <origin
        xyz="0.0076938 0.041742 0.034251"
        rpy="0 0 0" />
      <mass
        value="0.086268" />
      <inertia
        ixx="0.0015039"
        ixy="4.4225E-05"
        ixz="-2.9539E-08"
        iyy="0.00029481"
        iyz="1.8438E-06"
        izz="0.0012629" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RPelvis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.28627 0.66275 0.32941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RPelvis.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RHip_yaw"
    type="revolute">
    <origin
      xyz="-0.036449 -0.034878 -0.022298"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="RPelvis" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="RHip">
    <inertial>
      <origin
        xyz="-0.00450427830376229 0.00584714342826846 0.00745005017716618"
        rpy="0 0 0" />
      <mass
        value="1.70246844377123E-07" />
      <inertia
        ixx="4.81320151753959E-15"
        ixy="-5.27241240000675E-19"
        ixz="1.53704432844179E-17"
        iyy="5.58786310270582E-15"
        iyz="-4.5991975236666E-21"
        izz="5.5875584888361E-15" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RHip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RHip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RHip_roll"
    type="revolute">
    <origin
      xyz="0 0.027574 0"
      rpy="-1.571 -0.0089705 -1.5503" />
    <parent
      link="RPelvis" />
    <child
      link="RHip" />
    <axis
      xyz="0.020518 0 0.99979" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="RFemur">
    <inertial>
      <origin
        xyz="-0.00248904205907609 0.0648853474629882 0.00887618813618866"
        rpy="0 0 0" />
      <mass
        value="0.00409019740627706" />
      <inertia
        ixx="4.90526602537679E-07"
        ixy="-6.01449797498643E-10"
        ixz="2.38569635624737E-10"
        iyy="1.11685778701072E-06"
        iyz="1.28159298171905E-07"
        izz="1.06519177168038E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RFemur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RFemur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RHip_pitch"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0.020519 0 1.5708" />
    <parent
      link="RHip" />
    <child
      link="RFemur" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="RTibia">
    <inertial>
      <origin
        xyz="0.00871509944245952 -0.00979516740040502 0.0159392505253211"
        rpy="0 0 0" />
      <mass
        value="0.00392507494301409" />
      <inertia
        ixx="3.57287629143059E-07"
        ixy="9.92188943827109E-10"
        ixz="1.02285991870098E-11"
        iyy="4.51665003932787E-07"
        iyz="-5.45733481889898E-09"
        izz="7.95962407014057E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RTibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RTibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RKnee_pitch"
    type="revolute">
    <origin
      xyz="-0.0087414 0.077764 0.026658"
      rpy="-1.5887 1.5708 0" />
    <parent
      link="RFemur" />
    <child
      link="RTibia" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="RAnkle">
    <inertial>
      <origin
        xyz="0.0215378927522575 0.0175142902407125 0.00720707713936015"
        rpy="0 0 0" />
      <mass
        value="1.70246844377122E-07" />
      <inertia
        ixx="4.8129142907676E-15"
        ixy="-5.27172003753672E-19"
        ixz="-3.70836153130451E-18"
        iyy="5.58786310270802E-15"
        iyz="4.60010199820305E-21"
        izz="5.58784571563649E-15" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RAnkle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RAnkle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RAnkle_pitch"
    type="revolute">
    <origin
      xyz="0.014442 -0.0040764 0.051357"
      rpy="-1.2754 -1.552 -1.8665" />
    <parent
      link="RTibia" />
    <child
      link="RAnkle" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="RFoot">
    <inertial>
      <origin
        xyz="1.56219181479678E-08 0.000353547935824886 0.00142183210359545"
        rpy="0 0 0" />
      <mass
        value="0.0107696045379167" />
      <inertia
        ixx="7.29965318243796E-06"
        ixy="-5.18207713634465E-12"
        ixz="4.96501840070334E-13"
        iyy="2.38035548946643E-06"
        iyz="1.26932948540951E-09"
        izz="9.66215869492414E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RFoot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RFoot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RAnkle_roll"
    type="revolute">
    <origin
      xyz="0.056079 0.0096739 0.013978"
      rpy="1.5763 4.9037E-05 -1.5798" />
    <parent
      link="RAnkle" />
    <child
      link="RFoot" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="LPelvis">
    <inertial>
      <origin
        xyz="0.00807292305899078 -0.0417417576597471 0.036323213066093"
        rpy="0 0 0" />
      <mass
        value="0.0862681975072364" />
      <inertia
        ixx="0.00150386121057705"
        ixy="-4.42036643729134E-05"
        ixz="-2.48200542603523E-06"
        iyy="0.000294808184566198"
        iyz="2.30471092360166E-06"
        izz="0.0012629633906355" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LPelvis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.286274509803922 0.662745098039216 0.329411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LPelvis.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LHip_yaw"
    type="revolute">
    <origin
      xyz="0.034208 -0.034878 -0.022298"
      rpy="1.5708 0 -1.5812" />
    <parent
      link="base_link" />
    <child
      link="LPelvis" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="LHip">
    <inertial>
      <origin
        xyz="-0.00455114022489965 0.00757125437183906 -0.00505683841688416"
        rpy="0 0 0" />
      <mass
        value="1.70246844377125E-07" />
      <inertia
        ixx="4.81291443653154E-15"
        ixy="-5.2711378418219E-19"
        ixz="-3.70842020114713E-18"
        iyy="5.58786313708593E-15"
        iyz="4.59117589444893E-21"
        izz="5.58784576416686E-15" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LHip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LHip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LHip_roll"
    type="revolute">
    <origin
      xyz="0 -0.027574 0"
      rpy="-1.5707 -0.0087265 1.5653" />
    <parent
      link="LPelvis" />
    <child
      link="LHip" />
    <axis
      xyz="0.0054654 0 -0.99999" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="LFemur">
    <inertial>
      <origin
        xyz="-0.00369542296088183 0.0646483483712184 -0.00881005071793201"
        rpy="0 0 0" />
      <mass
        value="0.00409019769600968" />
      <inertia
        ixx="4.90526791176842E-07"
        ixy="6.01145206877695E-10"
        ixz="2.3854985222139E-10"
        iyy="1.11685781855624E-06"
        iyz="-1.28159299522275E-07"
        izz="1.06519196107565E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LFemur.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LFemur.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LHip_pitch"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0.0027699 0 1.5708" />
    <parent
      link="LHip" />
    <child
      link="LFemur" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="LTibia">
    <inertial>
      <origin
        xyz="0.00871615452931657 0.00950477147371461 0.0161131420556068"
        rpy="0 0 0" />
      <mass
        value="0.00392507523860521" />
      <inertia
        ixx="3.5728723273722E-07"
        ixy="-9.73235865879488E-10"
        ixz="7.57556321212643E-12"
        iyy="4.51580439615844E-07"
        iyz="-7.14725202870015E-10"
        izz="7.96047369466916E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LTibia.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LTibia.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LKnee_pitch"
    type="revolute">
    <origin
      xyz="-0.009943 0.077314 -0.026591"
      rpy="-3.1416 -1.5626 1.5708" />
    <parent
      link="LFemur" />
    <child
      link="LTibia" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="LAnkle">
    <inertial>
      <origin
        xyz="0.0215347444963168 0.0145885791782529 -0.0048829429251686"
        rpy="0 0 0" />
      <mass
        value="1.7024684437713E-07" />
      <inertia
        ixx="4.81320163952613E-15"
        ixy="-5.27299733745302E-19"
        ixz="1.53704160000842E-17"
        iyy="5.58786308251865E-15"
        iyz="-4.61641554686221E-21"
        izz="5.58755843369287E-15" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LAnkle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LAnkle.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LAnkle_pitch"
    type="revolute">
    <origin
      xyz="0.013308 0.00225 0.051424"
      rpy="-3.1416 -1.559 3.1416" />
    <parent
      link="LTibia" />
    <child
      link="LAnkle" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="LFoot">
    <inertial>
      <origin
        xyz="-0.000153547931316708 0.0390781678973347 1.56251835914389E-08"
        rpy="0 0 0" />
      <mass
        value="0.0107696045359164" />
      <inertia
        ixx="2.38035548898604E-06"
        ixy="1.26932971278988E-09"
        ixz="5.18295196367744E-12"
        iyy="9.6621586930304E-06"
        iyz="-4.96827124024057E-13"
        izz="7.29965318111971E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LFoot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.286274509803922 0.662745098039216 0.329411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LFoot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LAnkle_roll"
    type="revolute">
    <origin
      xyz="0.015506 0.0088335 -0.013867"
      rpy="-1.5796 -1.5503 0" />
    <parent
      link="LAnkle" />
    <child
      link="LFoot" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="chest">
    <inertial>
      <origin
        xyz="0.0237249897108021 -0.00226285767837158 0.000103876383980676"
        rpy="0 0 0" />
      <mass
        value="0.019754850289291" />
      <inertia
        ixx="1.35726363313462E-05"
        ixy="2.01706703132978E-09"
        ixz="7.19427440818698E-13"
        iyy="2.95518232438337E-06"
        iyz="-3.53804812374046E-10"
        izz="1.64927734681762E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/chest.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/chest.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="core"
    type="revolute">
    <origin
      xyz="0 -0.046578 0.028478"
      rpy="0 -1.5706 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="chest" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="RShoulder">
    <inertial>
      <origin
        xyz="-0.00131251801905741 -0.00856617061476234 -7.4121992016396E-09"
        rpy="0 0 0" />
      <mass
        value="0.00373121795815296" />
      <inertia
        ixx="4.74187701709522E-07"
        ixy="-9.74216465073023E-08"
        ixz="-4.78831229084864E-13"
        iyy="1.03498980667421E-06"
        iyz="-6.08479255711893E-14"
        izz="1.16229790204738E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RShoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.286274509803922 0.662745098039216 0.329411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RShoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RShoulder_pitch"
    type="revolute">
    <origin
      xyz="0.036528 -0.075021 5E-05"
      rpy="-3.1416 -1.5622 3.1416" />
    <parent
      link="chest" />
    <child
      link="RShoulder" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="RHumerus">
    <inertial>
      <origin
        xyz="-0.0474046769456795 0.00220517659340066 0.000688160199369403"
        rpy="0 0 0" />
      <mass
        value="0.00754330562120905" />
      <inertia
        ixx="1.35059258913153E-06"
        ixy="1.98589890880013E-12"
        ixz="9.74682773418354E-08"
        iyy="1.32836078103108E-06"
        iyz="3.65779121770837E-11"
        izz="6.41156971559716E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RHumerus.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RHumerus.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RShoulder_roll"
    type="revolute">
    <origin
      xyz="0 -0.0215 0"
      rpy="0 1.5708 -1.5708" />
    <parent
      link="RShoulder" />
    <child
      link="RHumerus" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="RForearm">
    <inertial>
      <origin
        xyz="-0.00451109742738925 0.016524999998887 0.00232500000802609"
        rpy="0 0 0" />
      <mass
        value="8.51234221885587E-08" />
      <inertia
        ixx="2.40644845183363E-15"
        ixy="-5.27146857627141E-19"
        ixz="-2.53201239416612E-28"
        iyy="3.18141465089562E-15"
        iyz="3.72235945462445E-25"
        izz="2.40644845183364E-15" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RForearm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/RForearm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RElbow_pitch"
    type="revolute">
    <origin
      xyz="-0.067878 0.00225 0"
      rpy="-1.5708 0 0" />
    <parent
      link="RHumerus" />
    <child
      link="RForearm" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="LShoulder">
    <inertial>
      <origin
        xyz="-0.00131251793049283 -0.00856617075058032 -7.4528408583463E-09"
        rpy="0 0 0" />
      <mass
        value="0.00373121799749922" />
      <inertia
        ixx="4.74187710433775E-07"
        ixy="-9.74216438686651E-08"
        ixz="-4.7892525892785E-13"
        iyy="1.03498981091377E-06"
        iyz="-6.25540014454998E-14"
        izz="1.16229791550356E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LShoulder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.286274509803922 0.662745098039216 0.329411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LShoulder.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LShoulder_pitch"
    type="revolute">
    <origin
      xyz="0.036528 0.070779 5E-05"
      rpy="0 -1.5622 3.1416" />
    <parent
      link="chest" />
    <child
      link="LShoulder" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="LHumerus">
    <inertial>
      <origin
        xyz="-0.047404905846798 0.00210882683656839 -0.00061519760680967"
        rpy="0 0 0" />
      <mass
        value="0.0075433225688273" />
      <inertia
        ixx="1.35058863483033E-06"
        ixy="-9.12738289560018E-14"
        ixz="-9.74140049944195E-08"
        iyy="1.32836079504816E-06"
        iyz="-4.5023197662771E-13"
        izz="6.4116110480283E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LHumerus.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LHumerus.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LShoulder_roll"
    type="revolute">
    <origin
      xyz="0 -0.0215 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="LShoulder" />
    <child
      link="LHumerus" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
  <link
    name="LForearm">
    <inertial>
      <origin
        xyz="-0.00451109742745594 0.0165750000002262 0.002324999998373"
        rpy="0 0 0" />
      <mass
        value="8.51234221885641E-08" />
      <inertia
        ixx="2.4064484518338E-15"
        ixy="-5.27146860720707E-19"
        ixz="5.45808546239343E-29"
        iyy="3.18141465089587E-15"
        iyz="-8.02412798730008E-26"
        izz="2.40644845183379E-15" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LForearm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://NUBI_V5/meshes/LForearm.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LElbow_pitch"
    type="revolute">
    <origin
      xyz="-0.067878 0.00215 0"
      rpy="1.5708 0 0" />
    <parent
      link="LHumerus" />
    <child
      link="LForearm" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.79"
      upper="2.79"
      effort="1.2"
      velocity="6.3" />
  </joint>
</robot>